apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: postgres-monitor
  namespace: db
  labels:
    app: postgres
spec:
  selector:
    matchLabels:
      app: postgres
  namespaceSelector:
    matchNames:
      - db
  endpoints:
    - port: metrics
      interval: 30s
      path: /metrics
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: mysql-monitor
  namespace: db
  labels:
    app: mysql
spec:
  selector:
    matchLabels:
      app: mysql
  namespaceSelector:
    matchNames:
      - db
  endpoints:
    - port: metrics
      interval: 30s
      path: /metrics
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: mongodb-monitor
  namespace: db
  labels:
    app: mongodb
spec:
  selector:
    matchLabels:
      app: mongodb
  namespaceSelector:
    matchNames:
      - db
  endpoints:
    - port: metrics
      interval: 30s
      path: /metrics
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: redis-monitor
  namespace: cache
  labels:
    app: redis
spec:
  selector:
    matchLabels:
      app: redis-standalone
  namespaceSelector:
    matchNames:
      - cache
  endpoints:
    - port: metrics
      interval: 30s
      path: /metrics
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: redis-cluster-monitor
  namespace: cache
  labels:
    app: redis-cluster
spec:
  selector:
    matchLabels:
      app: redis-cluster
  namespaceSelector:
    matchNames:
      - cache
  endpoints:
    - port: metrics
      interval: 30s
      path: /metrics
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: kafka-monitor
  namespace: queue
  labels:
    app: kafka
spec:
  selector:
    matchLabels:
      app: kafka
  namespaceSelector:
    matchNames:
      - queue
  endpoints:
    - port: metrics
      interval: 30s
      path: /metrics
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: prometheus-monitor
  namespace: observability
  labels:
    app: prometheus
spec:
  selector:
    matchLabels:
      app: prometheus
  namespaceSelector:
    matchNames:
      - observability
  endpoints:
    - port: http
      interval: 30s
      path: /metrics
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: grafana-monitor
  namespace: observability
  labels:
    app: grafana
spec:
  selector:
    matchLabels:
      app: grafana
  namespaceSelector:
    matchNames:
      - observability
  endpoints:
    - port: http
      interval: 30s
      path: /metrics
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: loki-monitor
  namespace: observability
  labels:
    app: loki
spec:
  selector:
    matchLabels:
      app: loki
  namespaceSelector:
    matchNames:
      - observability
  endpoints:
    - port: http
      interval: 30s
      path: /metrics
