apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "postgres.fullname" . }}-pg-hba
  labels:
    {{- include "postgres.labels" . | nindent 4 }}
data:
  pg_hba.conf: |
    # TYPE  DATABASE        USER            ADDRESS                 METHOD
    local   all             all                                     trust
    host    all             all             0.0.0.0/0               scram-sha-256
    host    replication     replicator      0.0.0.0/0               scram-sha-256
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "postgres.fullname" . }}-init-sql
  labels:
    {{- include "postgres.labels" . | nindent 4 }}
data:
  00_init.sql: |
    CREATE ROLE replicator WITH REPLICATION LOGIN ENCRYPTED PASSWORD 'replicator';
    SELECT pg_create_physical_replication_slot('replication_slot');
