version: "3.8"

services:
#  postgresql_read:
#    image: postgres:latest
#    container_name: postgres_container_read
#    environment:
#      POSTGRES_USER: ${POSTGRES_USER_READ}
#      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD_READ}
#      PGDATA: /var/lib/postgresql_read/data/pgdata
#    volumes:
#      - postgres_data_read:/var/lib/postgresql_read/data
#      - ./postgresql_read.conf:/etc/postgresql_read/postgresql.conf
#    ports:
#      - "5432:5432"
#    command: -c 'config_file=/etc/postgresql_read/postgresql.conf'
#    healthcheck:
#      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER_READ}"]
#      interval: 30s
#      timeout: 10s
#      retries: 5
#    deploy:
#      resources:
#        limits:
#          cpus: '1.0'
#          memory: 512M
#        reservations:
#          cpus: '0.5'
#          memory: 256M
#    logging:
#      driver: json-file
#      options:
#        max-size: "10m"
#        max-file: "3"
#    networks:
#      - backend
#    restart: unless-stopped
#
#  postgresql_write:
#    image: postgres:latest
#    container_name: postgres_container_write
#    environment:
#      POSTGRES_USER: ${POSTGRES_USER_WRITE}
#      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD_WRITE}
#      PGDATA: /var/lib/postgresql_write/data/pgdata
#    volumes:
#      - postgres_data_write:/var/lib/postgresql_write/data
#      - ./postgresql_write.conf:/etc/postgresql_write/postgresql.conf
#    ports:
#      - "5433:5432"
#    command: -c 'config_file=/etc/postgresql_write/postgresql.conf'
#    healthcheck:
#      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER_WRITE}"]
#      interval: 30s
#      timeout: 10s
#      retries: 5
#    deploy:
#      resources:
#        limits:
#          cpus: '1.0'
#          memory: 512M
#        reservations:
#          cpus: '0.5'
#          memory: 256M
#    logging:
#      driver: json-file
#      options:
#        max-size: "10m"
#        max-file: "3"
#    networks:
#      - backend
#    restart: unless-stopped
  mysql:
    image: mysql:latest
    container_name: mysql_container
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql_custom.cnf:/etc/mysql/conf.d/custom.cnf
    ports:
      - "3306:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 30s
      timeout: 10s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 512M
        reservations:
          cpus: '0.5'
          memory: 256M
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - backend
    restart: unless-stopped

networks:
  backend:
    driver: bridge
  monitoring:
    driver: bridge

volumes:
  mysql_data: