apiVersion: v1
kind: Service
metadata:
  name: {{ include "vault.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vault.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: 8201
      targetPort: internal
      protocol: TCP
      name: internal
  selector:
    {{- include "vault.selectorLabels" . | nindent 4 }}
