apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-config
  namespace: vault
  labels:
    app: vault
  annotations:
    kubernetes.io/description: "Vault configuration. Mount as local.json."
data:
  local.json: |
    {
      "ui": true
    } 