name: Helm Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.ref_name }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "$KUBECONFIG_DATA" | base64 -d > $HOME/.kube/config
        env:
          KUBECONFIG_DATA: ${{ secrets.KUBECONFIG_DATA }}

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0

      - name: Helm dependency update
        run: helm dependency update ./helm-app

      - name: Deploy with Helm
        run: |
          ENV_FILE=values-${{ github.ref_name }}.yaml
          if [ ! -f ./helm-app/$ENV_FILE ]; then ENV_FILE=values-production.yaml; fi
          helm upgrade --install myapp ./helm-app -f ./helm-app/$ENV_FILE --namespace myapp --create-namespace
        env:
          HELM_EXPERIMENTAL_OCI: 1 